@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

:root {
    --text-primary: #000;
    --text-secondary: #fff;
    --bg-primary: #F5F5F5;
    --sidebar-width: clamp(212px, 11vw, 250px);
    --transition-sidebar: width 0.4s ease-in;
    --main-content-margin: clamp(250px, 5vw, 50px); 
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: var(--bg-primary);
    width: 100vw;
    height: 100vh;
}

/*! start of the sidebar section  */
.sidebar {
    position: fixed;
    transition: var(--transition-sidebar);
    overflow: hidden;
    height: 100vh;
    width: var(--sidebar-width);
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
}

.sidebar > .header {
    padding-top: 15px;
    padding-left: 15px
}

.sidebar > .subsection {
    padding-left: 30px;
}

/*! start of main content page  */
.main-content {
    margin-left: var(--main-content-margin);
    padding-top: 15px;
}

h2 {
    padding-bottom: 15px;
}

.report-form,
.modify-form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}